<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin - Login</title>
    <!-- Custom fonts for this template-->
    <link href="~/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin.css" rel="stylesheet">
</head>
<body class="">

    
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">Login</div>
            <div class="card-body">
                @using (Html.BeginForm("Login", "Dash"))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="text" id="Username" name="username" class="form-control"  required="required" autofocus="autofocus">
                            <label for="Username">User Name</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="pass" class="form-control"  required="required">
                            <label for="inputPassword">Password</label>
                        </div>
                    </div>

                    @*@Html.ActionLink("Login", "Login","Dash", new { area = "" }, new {@class="btn btn-primary btn-block"})*@
                    <button class="btn btn-primary btn-block" href="~/Controllers/Home.cshtml" type="submit">Login</button>
                }
               
            </div>
        </div>
    </div>
    <script src="~/scripts/jquery.min.js"></script>
    <script src="~/scripts/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/scripts/jquery.easing.min.js"></script>
</body>
</html>
