@model DashBoard.Models.SocialMedia

@{
    ViewBag.Title = "socialmedia";
    Layout = "~/Views/_LayoutPage1.cshtml";
}


<h2 style="text-align:right">مواقع التواصل الاجتماعي</h2>

@using (Html.BeginForm("SocialMedia", "Dash", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="" dir="rtl" style="margin:auto auto; text-align:right;width:600px">
            <p style="color:red">@ViewBag.msg</p>

           

            <div class="form-group">
                
                <div class="col-md-12">
                    <label>مواقع التواصل الاجتماعي </label>
                    @foreach (var i in ViewBag.listIcons)
                    { <div class="custom-control custom-checkbox">
                        <input type="radio" style="color:blue" name="icon" id="defaultUnchecked">
                          <i class="fa fa-@i.icon" style="font-size:18px;color:black;float:left"></i>
</div>
                    }
                    @*@Html.DropDownListFor(m => m.icon, ViewBag.listIcons as IEnumerable<SelectListItem>, new { @class = "form-control" })*@
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-md-12">
                    <label>الرابط</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">www</span>
                        </div>
                        <input type="text" class="form-control" id="basic-url" name="link" aria-describedby="basic-addon3">
                    </div>

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="حفظ" class="btn btn-primary" />
                </div>
            </div>
        </div>
        </div>
}

